<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Simple Data Visualization</span>
    <span class="spacer"></span>
    <button mat-button routerLink="/" [routerLinkActiveOptions]="{exact:
      true}" routerLinkActive="active" aria-label="table_chart icon">
      <mat-icon>table_chart</mat-icon>
      Data Entry
    </button>
    <button mat-button routerLink="/visualization" [routerLinkActiveOptions]="{exact:
      true}" routerLinkActive="active" aria-label="pie_chart icon" style="
      margin-right: 15px;">
      <mat-icon>pie_chart</mat-icon>
      Visualization
    </button>
  </mat-toolbar-row>
</mat-toolbar>